@import "../../../scss/mixin.scss";
.jobFltr {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    @include respond-to(media-xs) {
        display: block;
    }
    span{
        padding-right: 10px;
        font-size: 17px;
        font-weight: 600;
        @include respond-to(media-xs) {
            display: block;
            padding-right: 0;
            padding-bottom: 10px;
        }
    }
    .mb-3{
        margin-bottom: 0 !important;
        margin-right: 20px;
        @include respond-to(media-sm) {
            margin-right: 10px;
        }
        @include respond-to(media-xs) {
            padding-bottom: 15px;
        }
        select{
            height: 41px;
            width: 150px;
            @include respond-to(media-sm) {
                width: 115px;
            }
            @include respond-to(media-xs) {
                width: 100%;
            }
        }
    }
}
.jobMainHd {
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 10px;
    @include respond-to(media-xs) {
        font-size: 24px;
    }
}
.jobBx {
    border: #efefef solid 1px;
    padding: 20px 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: #fff;
    @include respond-to(media-sm) {
       padding: 10px 15px;
    }
    .jobTitleOuter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include respond-to(media-sm) {
            display: block;
        }
        .jobTitle_Left{
            padding-bottom: 20px;
            @include respond-to(media-sm) {
                padding-bottom: 0px;
            }
            h3{
                font-size: 24px;
                font-weight: 800;
                padding-bottom: 10px !important;
                @include respond-to(media-xs) {
                    font-size: 20px;
                }
            }
            span{
                font-size: 15px;
                color: #707070;
                padding-right: 15px;
                @include respond-to(media-xs) {
                    display: block;
                    padding-right: 0;
                    padding-bottom: 5px;
                }
                svg{
                    font-weight: 600;
                    margin-right: 5px;
                }
            }
        }
        .jobpostTime{
            @include respond-to(media-sm) {
                padding-bottom: 10px;
            }
        }
    }
    p{
        display: block;
        font-size: 17px;
        line-height: 30px;
        padding-bottom: 10px;
        @include respond-to(media-xs) {
            font-size: 15px;
        }
    }
    a{
        width: 105px;
        height: 51px;
        border: #000 solid 1px;
        border-radius: 6px;
        background: #fff;
        display: inline-block;
        color: #000;
        text-align: center;
        line-height: 49px;
        font-size: 14px;
        &:hover{
            background: #000;
            color: #fff;
        }
    }
}