@import "../../../../scss/mixin.scss";

.bloDetailBanner {
    padding-bottom: 40px;
    .blogbannerImg {
        width: 100%;
        line-height: 0;
        img{
            width: 100%;
            border-radius:6px;
            line-height: 0;
        }
    }
    .blogbannerCOntent{
        width: 100%;
        padding-top: 50px;
        .blogerName{
            padding: 0 0 0 50px;
            margin-bottom: 15px;
            position: relative;
            i{
                position: absolute;
                left: 0;
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    line-height: 0;
                }
            }
            strong{
                display: block;
            }
            span{
                color: #777777;
            }
        }
        h2{
            font-size: 52px;
            font-weight: 800;
            padding-bottom: 15px !important;
        }
        p{
            font-size: 17px;
            padding-bottom: 30px;
            line-height: 30px;
        }
        
    }

}
.similerBlogHd{
    font-size: 52px;
    padding-bottom: 30px !important;
    text-align: center;
    font-weight: 600;
    padding-top: 20px !important;
}