@import "../../../scss/mixin.scss";

.submissionTitle_Outer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 30px;

    @include respond-to(media-sm) {
        display: block;
    }

    .submission_Left {
        width: 480px;
        padding-right: 100px;

        @include respond-to(media-md) {
            width: 350px;
            padding-right: 0px;
        }

        @include respond-to(media-sm) {
            width: 100%;
            padding-right: 0px;
            padding-bottom: 10px;
        }

        strong {
            display: block;
            font-size: 20px;
            padding-bottom: 10px;
        }

        span {
            display: block;
            font-size: 15px;
        }
    }

    .submission_Right {
        width: calc(100% - 480px);

        @include respond-to(media-md) {
            width: calc(100% - 370px);
        }

        @include respond-to(media-sm) {
            width: 100%;
        }

        .mb-3 {
            margin-bottom: 0 !important;

            label {
                font-size: 15px;
                color: #000;
                font-weight: 600;
            }

            input {
                width: 100%;
                height: 51px;
                border: #d8d8d8 solid 1px;
                border-radius: 6px;

                @include respond-to(media-sm) {
                    height: 46px;
                }
            }

            select {
                width: 100%;
                height: 51px;
                border: #d8d8d8 solid 1px;
                border-radius: 6px;

                @include respond-to(media-sm) {
                    height: 46px;
                }
            }
        }

        .subffmBx {
            padding-bottom: 20px;

            @include respond-to(media-sm) {
                padding-bottom: 10px;
            }

            textarea {
                height: 250px;
                resize: none;

                @include respond-to(media-sm) {
                    height: 150px;
                }
            }
        }

        .urlCont {
            padding-bottom: 15px;

            strong {
                font-size: 16px;
                color: #000;
                display: block;
            }

            span {
                font-size: 15px;
                display: block;
                padding-bottom: 20px;
            }

            small {
                font-size: 14px;
                color: #777;
            }
        }

        .addAttachment {
            padding-bottom: 20px;

            button {
                background: #ECEDEF;
                border: #c4c4c4 solid 1px;
                position: relative;
                width: 200px;
                height: 36px;
                border-radius: 6px;

                input {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    cursor: pointer;
                }
            }
        }

        .termsBx {
            border-top: #efefef solid 1px;
            padding-top: 15px;

            label {
                font-size: 17px;
                line-height: 30px;
                color: #000;

                .form-check-input {
                    width: 24px;
                    height: 24px;
                    margin-right: 15px;
                }
            }
        }

        .reportBtnBx {
            padding-top: 30px;

            button {
                background: #000;
                height: 51px;
                width: 210px;
                font-size: 17px;
                color: #fff;
                border-radius: 6px;
                cursor: pointer;

                &:hover {
                    background: #CBCE2E;
                    border: 0;
                    color: #000;
                }
            }
        }

    }
}